
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: 2px solid;
    margin: 10%;
    padding: 20px;
    border-radius: 10px;
    animation: border-color 3s infinite ease-in-out;
  }
  
  .loading span {
    animation: jump 1s ease-in-out infinite;
  }
  
  .loading span:nth-child(1) {
    animation-delay: 0s;
    color: #ff6f61;
  }
  
  .loading span:nth-child(2) {
    animation-delay: 0.1s;
    color: #fdbc40;
  }
  
  .loading span:nth-child(3) {
    animation-delay: 0.2s;
    color: #34c3eb;
  }
  
  .loading span:nth-child(4) {
    animation-delay: 0.3s;
    color: #4c80c9;
  }
  
  .loading span:nth-child(5) {
    animation-delay: 0.4s;
    color: #f4a261;
  }
  
  .loading span:nth-child(6) {
    animation-delay: 0.5s;
    color: #ff0eff;
  }
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-1rem);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes border-color {
    0% {
      border-color: #ff6f61;
    }
  
    25% {
      border-color: #fdbc40;
    }
  
    50% {
      border-color: #34c3eb;
    }
  
    75% {
      border-color: #4c80c9;
    }
  
    100% {
      border-color: #f4a261;
    }
  }
  
  .loading-spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #007aff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    left: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .marginOnY {
    margin-top: 5px;
    margin-bottom: 5px;
  }